[DEPUTY]
api_endpoint   = https://---container-name-goes-here---.au.deputy.com/api/v1/
access_token   = ---access-token-goes-here---

[IMPORT]
import_csv       = import-users.csv
deputy_csv       = deputy-users.csv
#exclude         = name1, name2, name3
postgrad         = Graduate Diploma, Honors, Master, Doctor, PhD
email_test       = org
email_domain     = org.uni.edu

[REPORT]
location_name    = ---location-name---
start_date       = 2016-01-01
end_date         = 2020-12-31
shifts_year1	 = 8
shifts_year2	 = 5
shifts_year3	 = 3